<a href="https://colab.research.google.com/github/Umme-Zaiba/Web-Scraping--Amazon-website/blob/main/WS_Amazon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **WEB SCRAPING**

---



Web scraping is an automatic method to obtain large amounts of data from websites.

In [2]:
import requests
from bs4 import BeautifulSoup as bs

In [3]:
url = 'https://www.amazon.in/Apple-iPhone-128GB-Space-Black/product-reviews/B0BDJ22G36/ref=cm_cr_dp_d_show_all_btm?ie=UTF8&reviewerType=all_reviews'
page = requests.get(url)
page

In [ ]:
page.content   #prints the source code of the url page

In [ ]:
soup = bs(page.content, 'html.parser')
soup # organising our data in html.parser format- readable format

In [6]:
#extract the customer names - 10 per url page as default
names = soup.find_all('span', class_ = 'a-profile-name')[2:] #slicing
names

[<span class="a-profile-name">Mr. M</span>,
 <span class="a-profile-name">Mr. M</span>,
 <span class="a-profile-name">Atreyapurapu Radha Madhav</span>,
 <span class="a-profile-name">Dibyaprakash Pradhan</span>,
 <span class="a-profile-name">AKASH SHARMA</span>,
 <span class="a-profile-name">Dibakar</span>,
 <span class="a-profile-name">Piyush Kumar</span>,
 <span class="a-profile-name">Piyush Kumar</span>,
 <span class="a-profile-name">Chaitanya</span>,
 <span class="a-profile-name">U</span>,
 <span class="a-profile-name">jitu</span>,
 <span class="a-profile-name">Sanjeev Singh</span>]

In [7]:
len(names)

12

In [8]:
import pandas as pd
df= pd.DataFrame(names, columns =['Customer Name'])
df

                Customer Name
0                       Mr. M
1                       Mr. M
2   Atreyapurapu Radha Madhav
3        Dibyaprakash Pradhan
4                AKASH SHARMA
5                     Dibakar
6                Piyush Kumar
7                Piyush Kumar
8                   Chaitanya
9                           U
10                       jitu
11              Sanjeev Singh

In [9]:
#remove duplicates
df=df.drop_duplicates(ignore_index=True)  # for sequence indexing
df

               Customer Name
0                      Mr. M
1  Atreyapurapu Radha Madhav
2       Dibyaprakash Pradhan
3               AKASH SHARMA
4                    Dibakar
5               Piyush Kumar
6                  Chaitanya
7                          U
8                       jitu
9              Sanjeev Singh

Scrape the review title

In [10]:
r_title = soup.find_all('a', class_ = 'review-title')
r_title

[<a class="a-size-base a-link-normal review-title a-color-base review-title-content a-text-bold" data-hook="review-title" href="/gp/customer-reviews/R17P1DM00FSJKF?ASIN=B0BDJ22G36">
 <span>Great</span>
 </a>,
 <a class="a-size-base a-link-normal review-title a-color-base review-title-content a-text-bold" data-hook="review-title" href="/gp/customer-reviews/R2GMNHGLNG3OE9?ASIN=B0BDJ22G36">
 <span>Most Trusted Online Site</span>
 </a>,
 <a class="a-size-base a-link-normal review-title a-color-base review-title-content a-text-bold" data-hook="review-title" href="/gp/customer-reviews/R39MJ9X8D45COR?ASIN=B0BDJ22G36">
 <span>True Value</span>
 </a>,
 <a class="a-size-base a-link-normal review-title a-color-base review-title-content a-text-bold" data-hook="review-title" href="/gp/customer-reviews/R25FKA539B9KLN?ASIN=B0BDJ22G36">
 <span>Android is better when it comes to os</span>
 </a>,
 <a class="a-size-base a-link-normal review-title a-color-base review-title-content a-text-bold" data-hook="review-title" href="/gp/customer-reviews/R12HH78P4B86WS?ASIN=B0BDJ22G36">
 <span>Nothing can compete with this IMO</span>
 </a>,
 <a class="a-size-base a-link-normal review-title a-color-base review-title-content a-text-bold" data-hook="review-title" href="/gp/customer-reviews/RLAFJZECGY4G2?ASIN=B0BDJ22G36">
 <span>Luxury and high Premium Phone</span>
 </a>,
 <a class="a-size-base a-link-normal review-title a-color-base review-title-content a-text-bold" data-hook="review-title" href="/gp/customer-reviews/R2WWNIY2JTZPIX?ASIN=B0BDJ22G36">
 <span>Not so impressive</span>
 </a>,
 <a class="a-size-base a-link-normal review-title a-color-base review-title-content a-text-bold" data-hook="review-title" href="/gp/customer-reviews/RLH4AVEK1M5A5?ASIN=B0BDJ22G36">
 <span>The Best Youâ€™ll Get</span>
 </a>,
 <a class="a-size-base a-link-normal review-title a-color-base review-title-content a-text-bold" data-hook="review-title" href="/gp/customer-reviews/R1XJU6N9NUP4AV?ASIN=B0BDJ22G36">
 <span>Wonder full .thats so pretty</span>
 </a>,
 <a class="a-size-base a-link-normal review-title a-color-base review-title-content a-text-bold" data-hook="review-title" href="/gp/customer-reviews/R3JRBIVHT0K7Y4?ASIN=B0BDJ22G36">
 <span>Camera</span>
 </a>]

In [11]:
len(r_title)

10

DATA CLEANING / DATA FILTERATION

In [12]:
review_title = []
for i in range(0,len(r_title)):
  review_title.append(r_title[i].get_text()[1:-1])
review_title

['Great',
 'Most Trusted Online Site',
 'True Value',
 'Android is better when it comes to os',
 'Nothing can compete with this IMO',
 'Luxury and high Premium Phone',
 'Not so impressive',
 'The Best Youâ€™ll Get',
 'Wonder full .thats so pretty',
 'Camera']

SCRAPE THE REVIEW DATES

In [13]:
dates=soup.find_all('span', class_='review-date')[2:]
dates

[<span class="a-size-base a-color-secondary review-date" data-hook="review-date">Reviewed in India ðŸ‡®ðŸ‡³ on 25 January 2023</span>,
 <span class="a-size-base a-color-secondary review-date" data-hook="review-date">Reviewed in India ðŸ‡®ðŸ‡³ on 8 May 2023</span>,
 <span class="a-size-base a-color-secondary review-date" data-hook="review-date">Reviewed in India ðŸ‡®ðŸ‡³ on 10 May 2023</span>,
 <span class="a-size-base a-color-secondary review-date" data-hook="review-date">Reviewed in India ðŸ‡®ðŸ‡³ on 18 April 2023</span>,
 <span class="a-size-base a-color-secondary review-date" data-hook="review-date">Reviewed in India ðŸ‡®ðŸ‡³ on 2 May 2023</span>,
 <span class="a-size-base a-color-secondary review-date" data-hook="review-date">Reviewed in India ðŸ‡®ðŸ‡³ on 2 May 2023</span>,
 <span class="a-size-base a-color-secondary review-date" data-hook="review-date">Reviewed in India ðŸ‡®ðŸ‡³ on 30 April 2023</span>,
 <span class="a-size-base a-color-secondary review-date" data-hook="review-date">Reviewed in India ðŸ‡®ðŸ‡³ on 22 April 2023</span>,
 <span class="a-size-base a-color-secondary review-date" data-hook="review-date">Reviewed in India ðŸ‡®ðŸ‡³ on 5 March 2023</span>,
 <span class="a-size-base a-color-secondary review-date" data-hook="review-date">Reviewed in India ðŸ‡®ðŸ‡³ on 7 April 2023</span>]

In [14]:
len(dates)

10

data cleaning

In [15]:
review_date =[]
for i in range(0, len(dates)):
  review_date.append(dates[i].get_text().replace('Reviewed in India ðŸ‡®ðŸ‡³ on',''))
review_date

[' 25 January 2023',
 ' 8 May 2023',
 ' 10 May 2023',
 ' 18 April 2023',
 ' 2 May 2023',
 ' 2 May 2023',
 ' 30 April 2023',
 ' 22 April 2023',
 ' 5 March 2023',
 ' 7 April 2023']

In [16]:
#review-stars , review content

SCRAPE THE REVIEW STARS

In [31]:
rating=soup.find_all('i', class_ = 'review-rating')[2:]
rating

[<i class="a-icon a-icon-star a-star-5 review-rating" data-hook="review-star-rating"><span class="a-icon-alt">5.0 out of 5 stars</span></i>,
 <i class="a-icon a-icon-star a-star-5 review-rating" data-hook="review-star-rating"><span class="a-icon-alt">5.0 out of 5 stars</span></i>,
 <i class="a-icon a-icon-star a-star-5 review-rating" data-hook="review-star-rating"><span class="a-icon-alt">5.0 out of 5 stars</span></i>,
 <i class="a-icon a-icon-star a-star-4 review-rating" data-hook="review-star-rating"><span class="a-icon-alt">4.0 out of 5 stars</span></i>,
 <i class="a-icon a-icon-star a-star-5 review-rating" data-hook="review-star-rating"><span class="a-icon-alt">5.0 out of 5 stars</span></i>,
 <i class="a-icon a-icon-star a-star-5 review-rating" data-hook="review-star-rating"><span class="a-icon-alt">5.0 out of 5 stars</span></i>,
 <i class="a-icon a-icon-star a-star-3 review-rating" data-hook="review-star-rating"><span class="a-icon-alt">3.0 out of 5 stars</span></i>,
 <i class="a-icon a-icon-star a-star-5 review-rating" data-hook="review-star-rating"><span class="a-icon-alt">5.0 out of 5 stars</span></i>,
 <i class="a-icon a-icon-star a-star-4 review-rating" data-hook="review-star-rating"><span class="a-icon-alt">4.0 out of 5 stars</span></i>,
 <i class="a-icon a-icon-star a-star-5 review-rating" data-hook="review-star-rating"><span class="a-icon-alt">5.0 out of 5 stars</span></i>]

In [32]:
len(rating)

10

Data cleaning

In [33]:
review_rating =[]
for i in range (0,len(rating)):
  review_rating.append(rating[i].get_text())
review_rating

['5.0 out of 5 stars',
 '5.0 out of 5 stars',
 '5.0 out of 5 stars',
 '4.0 out of 5 stars',
 '5.0 out of 5 stars',
 '5.0 out of 5 stars',
 '3.0 out of 5 stars',
 '5.0 out of 5 stars',
 '4.0 out of 5 stars',
 '5.0 out of 5 stars']

Scrape the review content

In [ ]:
content=soup.find_all('span', class_ = 'review-text')
content

In [24]:
len(content)

10

Data cleaning

In [ ]:
review_content =[]
for i in range(0, len(content)):
  review_content.append(content[i].get_text().replace('\n',''))
review_content

In [35]:
df['Review title']= review_title
df['Review date'] = review_date
df['Review rating'] = review_rating
df['Review content'] = review_content
df

<ipython-input-35-41cdf788073b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Review title']= review_title
<ipython-input-35-41cdf788073b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Review date'] = review_date
<ipython-input-35-41cdf788073b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Review rating'] = review_rating
<ipython-input-35-41cdf788073b>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Review content'] = review_content

,Customer Name,Review title,Review date,Review rating,review-content,Review content
0,Mr. M,Great,25 January 2023,5.0 out of 5 stars,Apple hasnâ€™t made any bones about the fact tha...,Apple hasnâ€™t made any bones about the fact tha...
1,Atreyapurapu Radha Madhav,Most Trusted Online Site,8 May 2023,5.0 out of 5 stars,Trust the product delivery on time and correct...,Trust the product delivery on time and correct...
2,Dibyaprakash Pradhan,True Value,10 May 2023,5.0 out of 5 stars,"Premium experience, monstrous performance","Premium experience, monstrous performance"
3,AKASH SHARMA,Android is better when it comes to os,18 April 2023,4.0 out of 5 stars,Switched to iphone from android and i miss som...,Switched to iphone from android and i miss som...
4,Dibakar,Nothing can compete with this IMO,2 May 2023,5.0 out of 5 stars,Nothing can compete with this IMO best phone i...,Nothing can compete with this IMO best phone i...
5,Piyush Kumar,Luxury and high Premium Phone,2 May 2023,5.0 out of 5 stars,The media could not be loa...,The media could not be loa...
6,Chaitanya,Not so impressive,30 April 2023,3.0 out of 5 stars,Itâ€™s okay .. okay product the cam is not so go...,Itâ€™s okay .. okay product the cam is not so go...
7,U,The Best Youâ€™ll Get,22 April 2023,5.0 out of 5 stars,"Itâ€™s super fast, the camera is unparalleled an...","Itâ€™s super fast, the camera is unparalleled an..."
8,jitu,Wonder full .thats so pretty,5 March 2023,4.0 out of 5 stars,Good,Good
9,Sanjeev Singh,Camera,7 April 2023,5.0 out of 5 stars,Very nice,Very nice

In [36]:
df.to_csv('amazon.csv')